* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 25px;
  box-shadow: 0px 0px 0px 0px rgb(93, 85, 85);
  height: 8vh;
  position: fixed;
  width: 100%;
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
}

h1 {
  font-size: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
}

.members {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 50px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.vl {
  border-left: 1px solid rgb(0, 0, 0);
  height: 4vh;
}

.assistance {
  column-gap: 5px;
}

main {
  height: 92vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 25px;
}
section {
  display: flex;
  height: 80%;
  width: 100%;
}

h2 {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  height: 50px;
  width: 220px;
  background-color: orangered;
  color: white;
  border-radius: 10px;
  border: none;
}

.mechanic {
  position: relative;
  height: 605px;
  width: 632px;
  padding-left: 75px;
}

.service {
  position: absolute;
  top: 50px;
  right: 270px;
}

.rating {
  position: absolute;
  top: 450px;
  right: -90px;
}

.icon {
  display: flex;
  column-gap: 50px;
}

.direct {
  height: 5px;
  width: 5px;
  margin-top: 12px;
}
.light {
  color: grey;
  font-size: 18px;
}

.bold {
  font-size: 18px;
  font-weight: 600;
}
